.footer__container {
  margin: 50px auto 80px;
  border-top: 1px solid rgb(230, 230, 230);
  height: 100px;
  padding: 50px;
  text-align: center;

  .social-icons {
    img {
      width: fit-content;
      max-width: 35px;
      margin: 12px;
      cursor: pointer;
      &:hover {
        filter: opacity(50%);
      }
      margin-bottom: 15px;
    }
  }
}
