.eventdetails__container {
  
  // CARD LOOKING CONTAINER
  // box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.07);
  // background-color: white;

  border-radius: 8px;
  margin: 50px auto;
  max-width: 1000px;
  padding: 30px 85px 50px 85px;
  color: #424a5e;
  @media (max-width: $breakpoint-big) {
   padding: 10px 10px 20px 12px;
  }

  p {
    font-size: 20px;
    @media (max-width: $breakpoint-big) {
      font-size: 1rem !important;
    }
  }
  .more {
    font-size: 20px;
    color: $text-link;
    cursor: pointer;
    width: fit-content;
    &:hover{
        text-decoration: underline;
    }
  }
}
