$text-color: black;
$text-link: rgb(51, 54, 255);
$text-muted: #424a5e;
$text-light: #fafafa;
$dcu-blue: #0c2b3b;

$breakpoint-tablet: 768px;
$breakpoint-iphone: 480px;

$nav-height: 80px;
$nav-shrinked: 50px;

